*{padding: 0;
margin: 0;
font-family: 'Josefin Slab', serif;

}
.espacio{background-image: url(rubia.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    margin: auto;
    width: 100%;
    height: 100%;
    background-image: url(fondo5.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
li a{font: bold 18px serif}
.menu{float: right;}
.menu ul, ol {list-style: none;}

.barra li a
{ text-decoration: none;
padding: 10px 15px;
display: block;
color:black;
position: sticky;
font: bold 18px;

}
.barra li a:hover{background-color: #43434343;}
.barra > li{
    float: left;
}

.barra li ul
 {display: none;
    position: absolute;
    min-width: 140px;}

.barra li:hover > ul{display: block;
}

.barra li ul li{
    position: relative;

}

.barra li ul li ul{
    right: -210px;
    top: 0px; 
}
.titulos{color: rgb(10, 10, 10);
font-size: 20px;
text-align: center;
padding: 20px;
}
.integrante{display: flex;
flex-direction: column;
justify-content: center;
width: 250px;
}

.integrante .circulo img {
    width: 200px;
    height: 200px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    
    
}
#uno{position: relative}#uno:hover {-webkit-transform:scale(1.3);transform:scale(1.3);}
#dos{position: relative}#dos:hover {-webkit-transform:scale(1.3);transform:scale(1.3);}
#tres{position: relative}#tres:hover {-webkit-transform:scale(1.3);transform:scale(1.3);}
#cuatro{position: relative}#cuatro:hover {-webkit-transform:scale(1.3);transform:scale(1.3);}

.individuo{
    text-align: center;
    color: black;
    font: bold 15px serif;
    padding: 30px;
    text-decoration: none;
}

.Galeria{
    width: 60%;
    margin: auto;
    overflow: hidden;
    padding-bottom: 20px
}
.Galeria ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
}
.Galeria li{
    width: 100%;;
    list-style: none;
}
.Galeria img{
    width: 100%;
}

@keyframes cambio {
    0%{margin-left: 0}
    20%{margin-left: 0}
    25%{margin-left: -100%}
    45%{margin-left: -100%}
    50%{margin-left: -200%}
    70%{margin-left: -200%}
    75%{margin-left: -300%}
    100%{margin-left: -300%}
}

.cubo{background-image: url(theg.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}

.contacto{background-image: url(theg.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
 #formulario{
     max-width: 500px;
     height: auto;
     background-color: #EFEFEF;
     margin:  auto;
     padding-bottom: 1rem
 }

 .tituform{
     width: 100%;
     text-align: center;
     padding: 2rem.0.1rem;
     border-top: 10px #f39b53 solid;
     margin-bottom: 5px;
 }

 .tituform h2{ font-weight: bold;
color: #CAC8C8;
font-size: 18px;}

.conteform{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botonesform{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.input, .enviar, .limpiar{
    background-color: #EFEFEF;
    padding: 7px;
    margin: 5px 0;
    border-bottom: solid #c8c8c8 5px;
    transition: all 0.5s;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-radius: 5px
}

.input:hover{
    border-bottom: solid #F39B53 5px;}
.input:focus{
        border-bottom: solid #F39B53 5px;}
.limpiar, .enviar{
    width: 40%;
    border-bottom: none;
    background-color: #31b1e5;
    color: white;
}

.limpiar{ background-color: #eda135}
.enviar:hover{background-color: #4c9ed9}
.limpiar:hover{background-color: #4c9ed9}
h4{font-weight: bold;
    color:rgb(83, 80, 80);
    font-size: 12px;}
.genero{display: flex;
    justify-content: space-around;
    margin-top: 5px;}

