
.tabla{
    display: flex;
    justify-content: space-around;
    margin-top: 7px
    ;
}

.discos{ height:400px}


.botones_tabla{
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 20px;
    text-decoration: none
}

.Comprar, .Descargar{
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
    background-color: #4c9ed9;
    border-radius: 10px;
    color: white;
    width: 40%;
}

.Descargar{
    background-color: #f39b53
}
.Descargar:hover{
    background-color: #4c9ed9;}
.portada{
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;

}
.portada-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: rgb(26, 25, 25)
}

.portada:hover .portada-inner{
    transform: rotateY(180deg)
}
.portada-front, .portada-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .portada-front {
    background-color: #bbb;
    color: black;
    z-index: 2;
  }
  
  .portada-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
  }

.canciones-de-discos{
    font-family: 'Chivo', sans-serif;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 20px;
    list-style: none;
    line-height: 20px

}

.discos, .portada .portada-inner, .portada-front { margin-left: 10px ; background-color: white}